.yourcart {
  background: #f0f0f0;
  border-radius: 15px;
  box-shadow: 0px 4px 20px rgba(53, 53, 53, 0.2);
  width: 371px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 1rem 1rem;
}

.yourcart .a1 {
  /* font-weight: 700; */
  font-size: 20px;
  /* width: 100%; */
}

.yourcart .pic {
  background-color: #fff;
  border-radius: 15px;
  display: flex;
  align-items: center;
  height: 120px;
  padding: 0 1rem;
  width: 100%;
  margin-bottom: 1rem;
  justify-content: space-between;
}

.yourcart .pic img {
  width: 60px;
  height: 60px;
  margin: 0 1rem 0 0;
  border-radius: 5px;
  object-fit: cover;
}

.yourcart .pic .part2 {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.yourcart .pic .part2 p {
  font-weight: 500;
  color: #6e6e6e;
  padding: 0 !important;
  margin: 0 0 0.5rem 0 !important;
}

.yourcart .pic .part2 .meal-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.yourcart .pic .part2 .meal-info .info {
  width: 110px;
  height: 32px;
  background-color: #f0f0f0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
}

.yourcart .pic .part2 .meal-info .ss {
  padding: 0 !important;
  margin: 0 !important;
}

.yourcart .pic .part2 .meal-info .k1 {
  color: #ef6f0b;
  font-size: 1.1rem;
  padding: 0 !important;
  margin: 0 0 0 1rem !important;
}

.yourcart .pic .part3 {
  height: 100%;
  padding: 1.5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.yourcart .pic .part3 button {
  background-color: transparent;
}

.yourcart .pic .part3 button .fa-edit {
  color: blue;
}

.yourcart .pic .part3 button .fa-trash-alt {
  color: red;
}

.yourcart .coupons {
  display: flex;
  width: 85%;
  height: 40px;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  border: 1px solid rgb(255, 255, 255);
  margin: 30px;
  border-radius: 20px;
  overflow: hidden;
}

.yourcart .coupons .coupon-input {
  height: 100% !important;
  width: 70%;
  padding: 0 1rem !important;
  margin: 0 !important;
  outline: none !important;
  border: none !important;
  background-color: transparent !important;
  font-size: 1rem;
  font-weight: 500;
}

.yourcart .coupons button {
  padding: 0.4rem 2rem;
  height: 100%;
  background-color: #fff;
  border-radius: 20px;
  color: #ef6f0b;
  font-weight: 600;
}

.yourcart .a2 {
  display: flex;
  width: 85%;
  background-color: #fff;
  border-radius: 15px;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
}

.yourcart .a2 .cart-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem 0;
}

.yourcart .a2 .cart-info p {
  padding: 0 !important;
  margin: 0 !important;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.yourcart .a2 .cart-info p h6 {
  color: #ef6f0b;
  padding: 0;
  margin: 0;
  text-decoration: line-through;
  text-decoration-color: #6e6e6e;
  margin-right: 0.25rem;
}

.yourcart .a2 .cart-info p i {
  color: #464646;
  margin-left: 0.25rem;
  transform: translateY(1.5px);
}

.yourcart .a2 .cart-info p:nth-child(2) {
  color: #ef6f0b;
  font-weight: 600;
}

.yourcart .a2 .cart-info p:nth-child(3) {
  color: #ef6f0b;
  font-weight: 600;
}

.yourcart .a2 .cart-info:nth-child(4) p {
  font-size: 1.2rem;
}

@media (max-width: 1400px) {
  .yourcart {
    width: 50%;
  }
}

@media (max-width: 1100px) {
  .yourcart {
    width: 45%;
  }
}
